fastapi==0.111.0
pydantic==2.7.1
uvicorn==0.29.0
mangum==0.17.0
tiktoken==0.6.0
requests==2.32.3
numpy==1.26.4
boto3==1.35.17
botocore==1.35.17
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-sdk-extension-aws==2.0.2
opentelemetry-propagator-aws-xray==1.0.2
opentelemetry-distro[otlp]
